ccm-core/web/WEB-INF/bebop.dtd

<!ELEMENT bebop:page (bebop:title,bebop:boxPanel,bebop:structure?)>

<!ELEMENT bebop:title (#PCDATA)>

<!ELEMENT bebop:structure (#PCDATA)>
<!ATTLIST bebop:structure 
     escape (yes|no) "yes"
>

<!ELEMENT bebop:boxPanel (bebop:cell)*>
<!ATTLIST bebop:boxPanel
     id        NMTOKEN #IMPLIED
     class     NMTOKEN #IMPLIED
     width     CDATA #IMPLIED
     border    NMTOKEN #IMPLIED
     axis      (1|2) #REQUIRED
     center    (true|false) "false"
>

<!-- the DTD generated by columnPanel needs to be cleaned up -->
<!ELEMENT bebop:columnPanel ((bebop:panelRow)*|bebop:padFrame|bebop:border)>
<!ATTLIST bebop:columnPanel
     id        NMTOKEN #IMPLIED
     class     NMTOKEN #IMPLIED
>

<!ELEMENT bebop:border (bebop:padFrame)>
<!ATTLIST bebop:border 
      bgcolor     CDATA   #IMPLIED
      border      NMTOKEN #IMPLIED
      cellpadding NMTOKEN #IMPLIED
      cellspacing NMTOKEN #IMPLIED
      class       NMTOKEN #IMPLIED
      width       CDATA   #IMPLIED
>

<!ELEMENT bebop:padFrame (bebop:pad)>
<!ATTLIST bebop:padFrame 
      bgcolor     CDATA     #IMPLIED
      border      NMTOKEN   #IMPLIED
      cellpadding NMTOKEN   #IMPLIED
      cellspacing NMTOKEN   #IMPLIED
      class       NMTOKEN   #IMPLIED
      width       CDATA     #IMPLIED
>

<!ELEMENT bebop:pad (bebop:panelRow)*>
<!ATTLIST bebop:pad
      bgcolor     CDATA   #IMPLIED
      border      NMTOKEN #IMPLIED
      cellpadding NMTOKEN #IMPLIED
      cellspacing NMTOKEN #IMPLIED
      class       NMTOKEN #IMPLIED
      width       CDATA   #IMPLIED
>

<!ELEMENT bebop:panelRow (bebop:cell)*>

<!ELEMENT bebop:tabbedPane (bebop:tabStrip,bebop:currentPane)>
<!ELEMENT bebop:tabStrip (bebop:tab)*>
<!ELEMENT bebop:tab (#PCDATA)>
<!ATTLIST bebop:tab 
      href       CDATA   #IMPLIED
      current    (t|f)   #IMPLIED
>
<!ELEMENT bebop:currentPane ANY>

<!-- 
 this is only an approximation.  You can have form widgets inside a 
 cell, but only if they're contained within a parent form.  
-->
<!ELEMENT bebop:cell ANY>

<!ATTLIST bebop:cell 
     id        NMTOKEN #IMPLIED
     class     NMTOKEN #IMPLIED
     style     NMTOKEN #IMPLIED
     align     CDATA   #IMPLIED
     colspan   NMTOKEN #IMPLIED
>

<!ELEMENT bebop:label (#PCDATA)>
<!ATTLIST bebop:label 
     escape (yes|no) "yes"
>

<!ELEMENT bebop:image EMPTY>
<!ATTLIST bebop:image 
    id        NMTOKEN #IMPLIED
    alt       CDATA   #IMPLIED
    src       CDATA   #REQUIRED
    width     CDATA   #IMPLIED
    height    CDATA   #IMPLIED
    border    CDATA   #IMPLIED
>

<!ELEMENT bebop:link ANY>
<!ATTLIST bebop:link 
    id        NMTOKEN #IMPLIED
    name      NMTOKEN #IMPLIED
    class     NMTOKEN #IMPLIED
    href      CDATA   #REQUIRED
    type      CDATA   #IMPLIED
    onclick   CDATA   #IMPLIED
>

<!ELEMENT bebop:list (bebop:cell)*>
<!ATTLIST bebop:list
    id        NMTOKEN #IMPLIED
    name      NMTOKEN #IMPLIED
    class     NMTOKEN #IMPLIED
>

<!ELEMENT bebop:listPanel (bebop:cell)*>
<!ATTLIST bebop:listPanel
    id        NMTOKEN #IMPLIED
    name      NMTOKEN #IMPLIED
    class     NMTOKEN #IMPLIED
    ordered   (true|false) "false"
>

<!ELEMENT bebop:form (bebop:list?,
                      bebop:columnPanel?, 
                      (bebop:formWidget|bebop:pageState)*)>

<!ATTLIST bebop:form
    id        NMTOKEN #IMPLIED
    name      NMTOKEN #IMPLIED
    class     NMTOKEN #IMPLIED
    message   CDATA   #IMPLIED
    method    (GET|POST|get|post) "post"
    action    CDATA #IMPLIED
    enctype   CDATA #IMPLIED
    onSubmit  CDATA #IMPLIED
    onReset   CDATA #IMPLIED
>
 
<!ELEMENT bebop:formWidget EMPTY>
<!ATTLIST bebop:formWidget 
    name      CDATA   #REQUIRED
    type      (text|password|submit|image|hidden) #REQUIRED
    value     CDATA   #IMPLIED
    maxlength NMTOKEN #IMPLIED
    size      NMTOKEN #IMPLIED
    onclick   CDATA   #IMPLIED
>

<!ELEMENT bebop:textarea EMPTY>
<!ATTLIST bebop:textarea 
    name      NMTOKEN #REQUIRED
    value     CDATA   #IMPLIED
    rows      NMTOKEN #IMPLIED
    cols      NMTOKEN #IMPLIED
    wrap      (soft|hard|nowrap) "soft"
>

<!ELEMENT bebop:radioGroup (bebop:radio | bebop:label)*>
<!ATTLIST bebop:radioGroup
    name      NMTOKEN #IMPLIED
    id        NMTOKEN #IMPLIED
    class     NMTOKEN #IMPLIED
>

<!ELEMENT bebop:radio EMPTY>
<!ATTLIST bebop:radio
    name      NMTOKEN #REQUIRED
    label     CDATA   #IMPLIED
    value     CDATA   #IMPLIED
    checked  (checked) #IMPLIED
>

<!ELEMENT bebop:checkboxGroup (bebop:checkbox | bebop:label)*>
<!ATTLIST bebop:checkboxGroup
    name      NMTOKEN #IMPLIED
    id        NMTOKEN #IMPLIED
    class     NMTOKEN #IMPLIED
>

<!ELEMENT bebop:checkbox EMPTY>
<!ATTLIST bebop:checkbox
    name      NMTOKEN #REQUIRED
    label     CDATA   #IMPLIED
    value     CDATA   #IMPLIED
    checked   (checked) #IMPLIED
>

<!ELEMENT bebop:multiSelect (bebop:option | bebop:label)*>
<!ATTLIST bebop:multiSelect
    name      NMTOKEN #REQUIRED
    id        NMTOKEN #IMPLIED
    class     NMTOKEN #IMPLIED
    multiple  NMTOKEN #FIXED "multiple"
>

<!ELEMENT bebop:select (bebop:option | bebop:label)*>
<!ATTLIST bebop:select
    name      NMTOKEN #REQUIRED
    id        NMTOKEN #IMPLIED
    class     NMTOKEN #IMPLIED
>

<!ELEMENT bebop:option EMPTY>
<!ATTLIST bebop:option
    label     CDATA   #IMPLIED
    name      CDATA   #IMPLIED
    value     CDATA   #IMPLIED
    selected  (selected) #IMPLIED
>

<!ELEMENT bebop:pageState EMPTY>
<!ATTLIST bebop:pageState
    name      NMTOKEN #REQUIRED
    value     CDATA   #IMPLIED
>